<div class="card mb-3 faircard  "   *ngFor="let fair of fairarr" (click)="onacard(fair.fairId)" [ngClass]="{
    active:fair.fairId===selesectfair
}">
    <div class="card-body">
        <h5>
            {{fair.fairName}}
        </h5>
        <div class="onlydate">
           <p class="m-0 d-flex justify-content-between" > <span>EventType:{{fair.type}}</span>
            <span>Schoole:{{fair.numberOfSchoolsRegistered}}</span></p>
            <p class="m-0 d-flex justify-content-between"> <span>StartDate :{{fair.startDate *1000|date}}</span>
            <span>Job :{{fair.numberOfUsersRegistered}}</span></p>
            <p class="m-0"> EndDate : {{fair.endDate*1000|date}}</p> 
        </div>
    </div>
</div>