<div class="row">
    <div class="col-md-5">
        <ng-container *ngIf="fairarr.length>0;else data">
            <app-fair-card [fairobj]="fair" *ngFor="let fair of fairarr" (fairidemit)="onfaird($event)">
                {{fair.fairName}}
             </app-fair-card>
        </ng-container>
        <ng-template #data>
            <p class="alert alert-info">
                card here not here
            </p>
        </ng-template>
    </div>
    <div class="col-md-7">
        <app-fair-details [fairobj]="fairobj"></app-fair-details>
    </div>
</div>