.banner {
    position: relative;
    height: 300px;

    .fairimg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.fairschool span {
    color: white;
    background-color: #dddcdc;
    padding: 10px 30px;
    display: block;
    font-weight: 700;
    border-radius: 5px;
    font-size: 15px;

}

.heading {
    color: #c0bbbb;
    margin-bottom: 10px;

}
.logo{
    color: rgb(26, 216, 153);
}
a{
    text-decoration: none;
}